<!DOCTYPE html>
<html>
  <head><!-- HEADER START -->
    <meta charset="utf-8">
    <title>C'Ville Beverage Tour Tracker</title>
<!-- Styles -->
    <link href="<%= url('/css/bootstrap.css') %>" rel="stylesheet">
    <link href="<%= url('/css/bootstrap-responsive.css') %>" rel="stylesheet">
    <style>
        header, section, footer {
            display: block;
          }
          /*
        body {
            padding-top: 30px;  When using the navbar-top-fixed */
          }
        .center {
            float: none;
            margin-left: auto;
            margin-right: auto;
          }
        .centercontents {
            text-align: center !important;
          }
        .alignrightcontents {
            text-align: right !important;
          }

    </style>

    <header>
      <nav role="navigation" class="navbar navbar-default navbar-top-fixed" >
        <div class="navbar-header container-fluid">

          <% logged_in? ? in_or_out = "Sign Out" : in_or_out = "Sign In"%>
          <% logged_in? ? link = "/sign-out" : link = "/sign-in"%>
          <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/locations">Locations</a></li>
          <li ><a href="/drinks">Drinks</a></li>
          <li ><a href="/favorites">Favorites</a></li>
          <li ><a href="/rankings">Top Ranked</a></li>
          <li ><a href="/sign-up">Sign Up</a></li>
          <li ><a href="<%= link %>"><%= "#{in_or_out}" %></a></li>
        </ul>
        </div>
      </nav>
    </header>
</head><!-- HEADER ENDS-->

<body><!-- BODY START -->

      <h1>Charlottesville Albermarle Beverage Tour</h1>
  <div class="clearfix">
    <%= yield %>
  </div>
  <footer>
    <section class="col-lg-1 ">
    </section>

    <section class="col-lg-3">
      <p>
        Find out more about visiting Albermarle County, Charlottesville and Monticello at <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiToPnn-ufMAhUD1h4KHeaNCt8QFggpMAA&url=http%3A%2F%2Fwww.visitcharlottesville.org%2F&usg=AFQjCNGqH7yxcH-13r11HdN-Mxm48Qrb-w&sig2=P2hoJnZrmP547Dm0Y7FdqA">visitcarlottesville.org</a><br>
        All locations and beverages are copyrights of their respective owners.
      </p>
    </section >

    <section class="col-lg-3">
      <img src="cville_logo_main.png" alt="Visit Charlottesville" />
    </section>

    <section class="centercontents col-lg-3">
      <p>Developed and Maintained by Ryan McNeely</p><br>
      <svg viewBox="0 0 16 16" height='24' width='24'>
        <path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
      </svg>
      <p><a href="http://github.com/rmcneely">RMcNeely:
    </span>
  </a>

      </svg> GitHub</a></p>
    </section>

    <!-- jQuery via Google + local fallback, see h5bp.com -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- Bootstrap jQuery Plugins, compiled and minified -->
    <script src="/js/bootstrap.min.js"></script>
  </footer>
  </body><!-- BODY ENDS -->
</html>
